   body{
  
   display: block;
   font-size:larger;
   color:rgb(7, 0, 0);
   text-transform: uppercase;
   font-weight: bolder;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: rgb(5, 0, 0); */
    background-repeat: no-repeat;
   
 }  
  body{
 

  height:1080px;
  width:720px;
  background-size: cover;
 
  background-image:url('god-lord-krishna-wallpaper-preview.jpg');
}
   .menu{
  
   position:relative;
   top:84px;
   left:168px;
 }
.menu ul li 
{list-style: none;
    float: left; 
   margin-left: 20px;
   padding: 10px;
}

.menu ul ul li 
{
   display: block;
}
 
 
.dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display:none;
   position:fixed;
   background-color: #292323;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
  
 }
 .menu ul li:hover{
   background-color:#5f1e1e;
    
 }
 
 .menu ul li:hover .dropdown-content,.dropdown:hover .dropdown-content {
   display: block;
 }  

